
.box1 {
	position:fixed;
	right:10px;
	top:150px;
	font-size: xx-large;
}

.box2 {
	position:fixed;
	right:10px;
	top:190px;
}

.box3 {
	font-size: x-small;
	position:fixed;
	top:1cm;
	left:500px;
}

.box4 {
	font-size: xx-small;
	position:fixed;
	top:3cm;
	left:510px;
}

.box5 {
	font-size: xx-small;
	position:fixed;
	top:3cm;
	left:600px;
}
.box6 {
}
.border {
	border: 1px solid black;
}
@page { 
	margin: 1cm 1cm 2cm 1cm;
} 