files/charts/*
files/entry-confirm/*
files/entry-attachment/*
.project
.settings*
.cache*
templates_c/*
import/datanova-vitenfabrikken/*
import/datanova-vitengarden/*
invoice/*
test-exchange/*
img/*-logo.jpg
img/infoskjerm-bg.PNG
exchangesync/Services.wsdl
exchangesync/messages.xsd
exchangesync/types.xsd
exchangesync/logs/log*
exchangesync/password.php
config/site.config.php